body {
    background-color: #F0F4F9;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
}

header {
    
    #header-img {
        margin-left: 5.25vw;
    }
    #header {
        position: fixed;
        top: 0;
        height: 75px;
        width: 100%;
        background: #F0F4F9;
        display: flex;
        flex-wrap: nowrap;
        
        #nav-bar {
            position: fixed;
            right: 4vw;
            top: 25px;
            display: flex;
            flex-wrap: nowrap;

            .nav-link {
                margin-left: 50px;
                color: black;
                text-decoration: none;
            }
        }
    }
}

section {
    text-align: center;
    margin-top: 100px;

    #form {
        margin-bottom: 90px;
    }

    #email {
        width: 250px;
        height: 25px;
    }

    #submit {
        font-weight: bold;
        background: yellow;
        color: black;
        border: none;
        margin-top: 10px;
        font-size: 1.25rem;
        width: 120px;
        height: 30px;
    }
    #submit:hover {
        background: #FFA500;
    }

    .qualities {
        text-align: left;
        max-width: 700px;
        margin: auto;
    }

    #video {
        margin: 100px 0;
    }

    #items {
        max-width: 750px;
        margin: 0 auto 30px auto;
        display: flex;
        justify-content: center;

        .cakes {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            border: 1px solid black;
            border-radius: 3px;
            width: 30%;
            height: 300px;
    
            h3 {
                background-color: #DDDDDD;
                width: 100%;
                height: 40px;
                margin-top: 0;
                padding-top: 20px;
            }
    
            button {
                background-color: yellow;
                width: 33%;
                height: 40px;
                margin: 8px 0;
                border: none;
            }
    
            button:hover {
                background-color: #FFA500;
            }
        }
    }
    
    @media (max-width: 750px) {
        #items {
            flex-direction: column;

            .cakes {
                max-width: 300px;
                width: 100%;
                margin: auto;
                margin-bottom: 10px;
            }
        }

        footer, #video {
            width: 100%;
        }
    }
}

footer {
    margin: 0 auto;
    background: #DDDDDD;
    text-align: right;
    padding: 20px;
    max-width: 800px;

    .foot-link {
        font-size: 15px;
        font-weight: 549;
        margin-right: 20px;
        color: black;
        text-decoration: none;
    }

    span {
        margin: 10px 30px 0 0;
        font-size: 14px;
    }
}